.containertab {
  direction: ltr;
  text-align: center;
  /* width: 70%; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.header_color {
  background: #4e73df;
  color: white;
}
.clickable {
  /* cursor: pointer; */
  /* color: #4e73df; */
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.33;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.add {
  position: absolute;
  left: 10px;
  bottom: 50px;
  padding: 10px;
}
.table-overflow {
  overflow-x: auto;
}

.sum-table {
  color: white;
  border: #2fe2dd 4px solid;
  background-color: black;
}

.col-table {
  border: rgba(224, 224, 224, 1) 1px solid;
}
.title-table{
  margin: auto;
  color: gray;
  align-content: center;
  text-align: center;
}
.alignment-child{
    justify-content: center !important;
}

@media print{@page {size: landscape}}
