.sum-table {
    color: white;
    border: #2fe2dd 4px solid;
    background-color: black;
    page-break-inside:avoid; page-break-after:auto;
}
.col-table-main {
    border: rgba(224, 224, 224, 1) 1px solid;
    /*page-break-inside:auto*/
    page-break-after:always;
    text-align: center;
    margin: 10px;
    direction: rtl;
}
.col-table {
    border: rgba(224, 224, 224, 1) 1px solid;
    text-align: center !important;
    justify-content: center;
    align-content: center ;
    direction: rtl;

}
.col-table-header {
    border: rgba(224, 224, 224, 1) 1px solid;
    display:table-header-group  ;
    text-align: center;

}
.col-table-body {
    border: rgba(224, 224, 224, 1) 1px solid;
    /*display:table-header-group*/    text-align: center;

}
.col-table-row {
    border: rgba(224, 224, 224, 1) 1px solid;
    page-break-inside:avoid; page-break-after:auto;
    text-align: center;
}
.title-table{
    margin: auto;
    color: gray;
    align-content: center;
    text-align: center;
}

/*@media print{@page {size: landscape}}*/

@media print {

    /*table { page-break-inside:auto }*/
    /*tr    { page-break-inside:avoid; page-break-after:auto }*/
    /*thead { display:table-header-group }*/
    /*tfoot { display:table-footer-group }*/

    /*table.report { page-break-after:auto }*/
    /*table.report tr    { page-break-inside:avoid; page-break-after:auto }*/
    /*table.report td    { page-break-inside:avoid; page-break-after:auto }*/
    /*table.report thead { display:table-header-group }*/
    /*table.report tfoot { display:table-footer-group }*/
}